.di-input-container {
    position: relative;
    display: block;
}
.di-input-container .date-input {
    border-radius: 0.4rem;
    padding-left: 3.8rem;
}
.di-input-container input{
    height: 3rem;
    line-height: 3rem;
    display: block;
    vertical-align: middle;
    margin: 0 0 0.5rem 0;
    padding: 0 0.6rem 0 2.8rem;
    width: 100%;
    outline: 0;
}
.di-input-container input:focus{
    outline: 0;
}
.di-input-container input{
    border: 1px solid #ccc;
}
.di-input-container input.focused {
    border: 1px solid #08c;
}
.di-input-container i {
    align-self: center;
    padding: 0;
    margin: 0;
}
.di-input-icon-container{
    position: absolute;
    left: 0rem;
    padding: 0;
    margin: 0;
    top: 0rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    pointer-events: none;

}
