.number-increment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.number-increment-container .increment-value {
    font-size: 1.6rem;
    color: #212529;
    text-align: center;
}
.number-increment-container .increment-icon {
    align-self: center;
    font-size: 2rem;
    color: #212529;
}
.number-increment-container .increment-block {
    display: flex;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0;
}
.number-increment-container .default-icon {
    transform: rotate(90deg);
}
