.ni-increment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ni-increment-value {
    font-size: 1.6rem;
    color: #212529;
    text-align: center;
}
.ni-increment-icon {
    align-self: center;
    font-size: 2rem;
    color: #212529;
}
.ni-increment-block {
    display: flex;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    letter-spacing: 0;

}
