.ra-range-selector {
    display: flex;
    width: 26rem;
}
.ra-iso-weeks {
    display: flex;
    flex-direction: column;
    width: 2rem;
    font-size: 1.4rem;
    color: #ccc;
    margin-right: 1rem;
}
.ra-days-grid {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: space-between;
}
.ra-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ra-week-abbr {
    color: #ccc;
}
.ra-weekDays {
    font-weight: bold;
}
.ra-day {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    min-width: 3.2rem;
    line-height: 2rem;
}
.ra-day:hover{
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}
.ra-active:hover{
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
.ra-day.ra-disabled, .ra-day.ra-disabled:hover {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
.ra-other-month{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}
.ra-active {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
