.rs-range-selector {
    display: flex;
    width: 26rem;
}
.rs-iso-weeks {
    display: flex;
    flex-direction: column;
    width: 2rem;
    font-size: 1.4rem;
    color: #ccc;
    margin-right: 1rem;
}
.rs-days-grid {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: space-between;
}
.rs-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rs-week-abbr {
    color: #ccc;
}
.rs-weekDays {
    font-weight: bold;
}
.rs-day {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    min-width: 3.2rem;
    line-height: 2rem;
}
.rs-day:hover{
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}
.rs-active:hover{
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
.rs-day.disabled, .rs-day.rs-disabled:hover {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
.rs-other-month{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}

.rs-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.rs-active, .rs-range.rs-active {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
