.range-selectable {
    display: flex;
    width: 26rem;
}
.range-selectable .iso-weeks {
    display: flex;
    flex-direction: column;
    width: 2rem;
    font-size: 1.4rem;
    color: #ccc;
    margin-right: 1rem;
}
.range-selectable .days-grid {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: space-between;
}
.range-selectable .week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.range-selectable .week-abbr {
    color: #ccc;
}
.range-selectable .weekDays {
    font-weight: bold;
}
.range-selectable .day {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    min-width: 3.2rem;
    line-height: 2rem;
}
.range-selectable .day:hover{
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}
.range-selectable .active:hover{
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
.range-selectable .day.disabled,.range-selectable .day.disabled:hover {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
.range-selectable .other-month{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}

.range-selectable .range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.range-selectable .active,.range-selectable .range.active {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
