.range-selector {
    display: flex;
    width: 26rem;
}
.iso-weeks {
    display: flex;
    flex-direction: column;
    width: 2rem;
    font-size: 1.4rem;
    color: #ccc;
    margin-right: 1rem;
}
.days-grid {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: space-between;
}
.week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.week-abbr {
    color: #ccc;
}
.weekDays {
    font-weight: bold;
}
.day {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    min-width: 3.2rem;
    line-height: 2rem;
}
.day:hover{
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}
.active:hover{
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
.day.disabled, .day.disabled:hover {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
.other-month{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}
.active {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
