.range-selector {
    display: flex;
    width: 26rem;
}
.range-selector .iso-weeks {
    display: flex;
    flex-direction: column;
    width: 2rem;
    font-size: 1.4rem;
    color: #ccc;
    margin-right: 1rem;
}
.range-selector .days-grid {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: space-between;
}
.range-selector .week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.range-selector .week-abbr {
    color: #ccc;
}
.range-selector .weekDays {
    font-weight: bold;
}
.range-selector .day {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    min-width: 3.2rem;
    line-height: 2rem;
}
.range-selector .day:hover{
    background-color: #eee;
    border-color: transparent;
    color: inherit;
}
.range-selector .active:hover{
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
.range-selector .day.disabled,.range-selector .day.disabled:hover {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}
.range-selector .other-month{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}
.range-selector .active {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}
