.ts-time-selector {
    display: flex;
    padding: 1rem;
    width: 26rem;
    height: 3.5rem;
    justify-content: space-between;
}

.ts-timeselect {
    counter-reset: option;
}

.ts-timeoption {
    background-color: #fff;
    color: #000;
    width: 5rem;
    height: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}

.ts-timeoption:hover {
    background-color: #357ebd;
    color: #fff;
}

.ts-timeoption:before {
    content: counter(option, decimal-leading-zero);
    margin-right: 0.25rem;
}
.ts-timeoption.disabled, .ts-timeoption.ts-disabled:hover{
    color: #fff;
    background-color: #ccc;
}

.ts-count:before {
    counter-increment: option;
}

.ts-clock {
    margin-top: 0.3rem;
}
