.time-selector {
    display: flex;
    padding: 1rem;
    width: 26rem;
    height: 3.5rem;
    justify-content: space-between;
}

.time-selector .timeselect {
    counter-reset: option;
}

.time-selector .timeoption {
    background-color: #fff;
    color: #000;
    width: 5rem;
    height: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}

.time-selector .timeoption:hover {
    background-color: #357ebd;
    color: #fff;
}

.time-selector .timeoption:before {
    content: counter(option, decimal-leading-zero);
    margin-right: 0.25rem;
}
.time-selector .timeoption.disabled,.time-selector .timeoption.disabled:hover{
    color: #fff;
    background-color: #ccc;
}

.time-selector .count:before {
    counter-increment: option;
}

.time-selector .clock {
    margin-top: 0.3rem;
}
