.date-picker-arrows {
    position: relative;
    display: block;
    height: 4rem;
}
.date-picker-arrows.including-label {
    height: 6rem;
}

.date-picker-arrows .input-container {
    position: relative;
    height: 4rem;
    width: 22rem;
    display: flex;
}

.date-picker-arrows .date-picker-input {
    text-align: left;
    padding-left: 3.8rem;
    fill: transparent;
    color: #7b4199;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 14rem;
    line-height: 1.6rem;
    border-radius: 0rem;
    border: 2px solid #7b4199;
    font-size: 1.8rem;
    font-weight: normal;
    box-sizing: border-box;
    height: 4rem;
    border-left: none;
    border-right: none;
    padding-top: 0rem;

}

.date-picker-arrows .date-picker-input:focus {
    border-color: #7b4199;
    background-color: #7b4199;
    color: #fff;
    outline: none;
    box-shadow: none;
    position: absolute;
    z-index: 12351;
    top: 0;
    left: 4rem;
    width: 14rem;
}

.date-picker-arrows .date-picker-underlay {
    position: fixed;
    z-index: 12350;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #aaa;
    opacity: 0;
}

.date-picker-arrows-overlay {
    position: absolute;
    z-index: 12400;
    display: flex;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    flex-direction: row;
}

.date-picker-arrows-overlay .date-picker-inner {
    display: flex;
    flex-direction: column;
}

.date-picker-arrows .input-icon-container{
    position: absolute;
    left: 4rem;
    padding: 0;
    margin: 0;
    top: 0;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.date-picker-arrows .input-icon-container.focus {
    z-index: 12352;
}
.date-picker-arrows .input-icon-container.focus i{
    color: #fff;
}
.date-picker-arrows .input-icon {
    align-self: center;
    padding: 0;
    margin: 0;
    color: #7b4199;
}
.date-picker-arrows .input-icon-focus {
    color: #fff;
}
.date-picker-arrows .input-container:hover input{
    color: #fff;
    border-color: #7b4199;
    background-color: #7b4199;
}
.date-picker-arrows .input-container:hover i{
    color: #fff;
}
.date-picker-arrows-overlay .top {

}

.date-picker-arrows-overlay .bottom {
    width: 30rem;
    height: 20rem;
    top: 4rem;
    left: -4rem;
}

.date-picker-arrows-overlay .bottom-left {
    width: 30rem;
    height: 20rem;
    top: 4rem;
    right: 0;
}

.date-picker-arrows-overlay .left {

}

.date-picker-arrows-overlay .right {

}

.date-picker-arrows .label {
    color: #999;
    font-size: 1.4rem;
    padding-left: 15px;
    height: 20px;
}

.date-picker-arrows .navigation{
    background-color: #7b4199;
    border: 2px solid #7b4199;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-left: none;
    border-right: none;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    outline: 0;
}
.date-picker-arrows .navigation:hover{
    background-color: #9a50bf;
    border: 2px solid #9a50bf;
    border-left: none;
    border-right: none;
}
.date-picker-arrows .navigation:hover i {
    color: #fff;
}
.date-picker-arrows .navigation:disabled {
    border: 2px solid rgba(123, 65, 153, 0.5);
    fill: rgba(123, 65, 153, 0.5);
    background-color: rgba(123, 65, 153, 0.5);
    cursor: not-allowed;
}
.date-picker-arrows .previous {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.date-picker-arrows .previous:disabled {
    border-right: none;
}
.date-picker-arrows .next {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.date-picker-arrows .next:disabled {
    border-left: none;
}
.date-picker-arrows .next.focus {
    position: absolute;
    right: 0;
    top: 0;
}
.date-picker-arrows .direction {
    background-color: transparent;
    color: #fff;
    align-self: center;
    font-size: 1.6rem;
    font-weight: bold;
}
