.date-range-picker-suggestions {
    position: relative;
    display: block;
    height: 4rem;
    width: 28rem;
    margin: 0;
    padding: 0;
}
.date-range-picker-suggestions.including-label {
    height: 6rem;
}

.date-range-picker-suggestions .input-container {
    position: relative;
    height: 4rem;
    width: 28rem;
    margin: 0;
    padding: 0;
    display: block;
}

.date-range-picker-suggestions .date-picker-input {

    padding-top: 0rem;
    background-color: #fff;

    text-align: left;
    padding-left: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #7B4199;

    height: 4rem;
    line-height: 1.6rem;
    border-radius: 2rem;
    border: 2px solid #7B4199;
    font-size: 1.8rem;
    width: 28rem;
    cursor: pointer;
    outline:none;

}

.date-range-picker-suggestions .date-picker-input.icon {
    padding-left: 4rem;
}

.date-range-picker-suggestions .date-picker-input:focus {
    border-color: #7B4199;
    background-color: #7B4199;
    color: #fff;
    outline: none;
    box-shadow: none;
    position: absolute;
    z-index: 12351;
    top: 0;
    left: 0;
}

.date-picker-underlay {
    position: fixed;
    z-index: 12350;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    opacity: 0.2;
}

.date-range-picker-suggestions-overlay  {
    position: absolute;
    z-index: 12400;
    display: flex;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.date-range-picker-suggestions-overlay  .date-picker-inner {
    display: flex;
    flex-direction: column;
}

.date-range-picker-suggestions .input-icon-container{
    position: absolute;
    left: 0.4rem;
    padding: 0;
    margin: 0;
    top: 0;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    pointer-events: none;

}
.date-range-picker-suggestions .input-icon-container.focus {
    z-index: 12352;
}
.date-range-picker-suggestions .input-icon-container.action{
    left: unset;
    right: 0.4rem;
}
.date-range-picker-suggestions .input-icon {
    align-self: center;
    padding: 0;
    margin: 0;
    color: #7B4199;
}
.date-range-picker-suggestions .input-container:hover .date-picker-input,.date-range-picker-suggestions .input-container:hover .input-icon,.date-range-picker-suggestions .input-icon.focus,.date-range-picker-suggestions .date-picker-input.focus{
    color: #fff;
    background-color: #7B4199;
}
.date-range-picker-suggestions-overlay .top {

}

.date-range-picker-suggestions-overlay .bottom {
    width: 76rem;
    height: 24rem;
}

.date-range-picker-suggestions-overlay .bottom-left {
    width: 76rem;
    height: 24rem;
    top: 4rem;
    right: 0;
}

.date-range-picker-suggestions-overlay .center {
    width: 76rem;
    height: 24rem;
    left: -24rem;
}

.date-range-picker-suggestions-overlay .left {
    width: 60rem;
    height: 24rem;
    right: 0;
}

.date-range-picker-suggestions-overlay .right {

}

.date-range-picker-suggestions .label {
    color: #999;
    font-size: 1.4rem;
    padding-left: 15px;
    height: 20px;
}

.date-range-picker-suggestions .required {
    color: #d9534f;
    margin-left: 4px;
}

.date-range-picker-suggestions.as-input .date-picker-input{
    font-size: 1.6rem;
    border-radius: 0.8rem;
    padding-top: 0.8rem;
    padding-right: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    color: #303038;
    border: 1px solid #ced4da;
    background-color: #fff;
}

.date-range-picker-suggestions.as-input, .date-range-picker-suggestions.as-input .input-container, .date-range-picker-suggestions.as-input .date-picker-input {
    width: 21rem;
}

.date-range-picker-suggestions.as-input .input-container:hover .date-picker-input, .date-range-picker-suggestions.as-input .input-container:hover .input-icon, .date-range-picker-suggestions.as-input .input-icon.focus, .date-range-picker-suggestions.as-input .date-picker-input.focus{
    color: #303038;
    background-color: #fff;
    border: 1px solid #51bdba;
}

.date-range-picker-suggestions-overlay .date-picker-suggestions {
    width: 16rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date-range-picker-suggestions-overlay .date-picker-suggestion {
    font-size: 1.3rem;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 0.4rem;
    color: #08c;
    padding: 0.3rem 1.2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;

}
.date-range-picker-suggestions-overlay .date-picker-suggestion.active {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
}
