.time-picker {
    position: relative;
    display: block;
    height: 3.8rem;
    width: 26rem;
}
.time-picker.including-label {
    height: 5.8rem;
}

.time-picker .input-container {
    position: relative;
    height: 4rem;
}

.time-picker .date-picker-input {
    font-size: 1.6rem;
    padding-top: 0rem;
    background-color: #fff;
    border: 1px solid #c0d1d1;
    text-align: left;
    padding-left: 3.8rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #303038;
    border-radius: 0.8rem;
    line-height: 1.25;
    height: 3.8rem;
    width: 26rem;
}

.time-picker .date-picker-input:focus {
    border-color: #51bdba;
    outline: none;
    box-shadow: none;
    position: absolute;
    z-index: 12351;
    top: 0;
    left: 0;
}

.time-picker .date-picker-underlay {
    position: fixed;
    z-index: 12350;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #aaa;
    opacity: 0.2;
}

.time-picker .date-picker {
    position: absolute;
    z-index: 12400;
    display: flex;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    flex-direction: row;
}

.time-picker .date-picker-inner {
    display: flex;
    flex-direction: column;
}

.time-picker .input-icon-container{
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    top: 0;
    height: 3.8rem;
    width: 4rem;
    display: flex;
    justify-content: center;
}
.time-picker .input-icon-container.focus {
    z-index: 12352;
}
.time-picker .input-icon {
    align-self: center;
    padding: 0;
    margin: 0;
}

.time-picker .top {

}

.time-picker .bottom {
    width: 26rem;
    height: 17rem;
    top: 6rem;
    left: 0;
}

.time-picker .including-label .bottom {
    top: 5.8rem;
}

.time-picker .bottom-left {
    width: 28rem;
    height: 17rem;
    top: 4rem;
    right: 0;
}

.time-picker .left {

}

.time-picker .right {

}

.time-picker .label {
    color: #999;
    font-size: 1.4rem;
    padding-left: 15px;
    height: 20px;
}

.time-picker .time-increments {
    display: flex;
    flex-direction: row;
}

.time-picker .time-separator {
    font-size: 1.6rem;
    color: #212529;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-picker .erase-time {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.time-picker .erase-icon {
    color:#6e2c87;
    align-self: center;
    font-size: 1.6rem;
}
